@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  font-size: 62.5%;
  --soft-orange: hsl(35, 77%, 62%);
}
* {
  box-sizing: border-box;
}
body {
  min-width: 300px;
  height: 100vh;
  background-color: #008080;
  main {
    height: 100%;

    display: grid;
    grid-template-rows: 30% auto;

    font-family: "MS Sans Serif", Arial, sans-serif;

    .section1 {
      
      background-color: #010081;
      align-content: center;
      text-align: center;
      /* padding: 2rem; */

      h2 {
        padding: 5rem;
        font-size: 32px;
        color: #fdffff;

      }

      ul {
        display: flex;
        justify-content: space-evenly;
        max-width: 80%;
        margin: auto;
        li {
          background-color: #c3c3c3;
          padding: 3rem 0;
          width: 14rem;

          box-shadow: inset -2px -2px 0px #808080, inset 2px 2px 0px #000000;
          a {
            color: black;
            text-decoration: none;
            &:hover{
              color: #ff0081;
            }
          }
        }
      }
    }

    .section2 {
      margin: 2rem;
      ul {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1.5fr));
        gap: 1.5rem;

        max-width: 80%;
        margin: auto;
        li {
          text-align: center;
          align-items: center;

          min-height: 500px;
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          margin: auto auto;

          background-color: #c3c3c3;
          box-shadow: inset -2px -2px 0px #808080, inset 2px 2px 0px #000000;

          p {
            padding: 0 6rem;
          }
          a {
            width: 100%;
            height: 30px;

            text-decoration: none;
            color: black;
            &:hover{
              color: #ff0081;
            }
          }
          img {
            height: 350px;
            width: 350px;
          }
        }
      }
    }
  }
}
body * {
  line-height: calc(2px + 2ex + 2px);
  font-size: 1.8rem;
}
